@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

@font-face{
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium/GothamPro-Medium.eot') format('eot'),
    url('../fonts/Gotham-Medium/GothamPro-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Gotham';
    src: url('../fonts/Gotham/GothamPro.eot') format('eot'),
    url('../fonts/Gotham/GothamPro.woff') format('woff'),
    url('../fonts/Gotham/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold/GothamPro-Bold.eot') format('eot'),
    url('../fonts/Gotham-Bold/GothamPro-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

@font-face{
    font-family: 'RobotoBold Condensed';
    src: url('../fonts/RobotoBoldCond/RobotoCondensed-Bold.eot') format('eot'),
    url('../fonts/RobotoBoldCond/RobotoCondensed-Bold.woff') format('woff'),
    url('../fonts/RobotoBoldCond/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    }

@font-face{
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadPro-Regular.eot') format('eot'),
    url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face{
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book/GothamBook.eot') format('eot'),
    url('../fonts/Gotham-Book/GothamBook.woff') format('woff'),
    url('../fonts//Gotham-Book/GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

$main-color: #f5f5f5;
$color-blue:#11749e;
$color-blue-light:#2e85aa;
$dark-color: #222222;
$light-color: #f3f3f3;

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gotham Medium';
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    &-news {
        max-width: 100%;
        padding: 0;
    }
}

.page {
    position: relative;
    padding-top: 100px;
    padding-bottom: 126px;
    &__title {
        position: absolute;
        font-size: 37.55px;
        font-family: 'Gotham';
        text-transform: uppercase;
        margin: 67px auto 0 auto;
        left: 0;
        right: 0;
        span {
            display: block;
            font-family: 'Gotham book';
            font-size: 30.06px;
            color: $dark-color;
            text-transform: none;
            margin-top: 100px;
        }
    }
    &__img {
        opacity: 0.7;
    }
    &-main {
        background-image: url(../img/Background_header.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 320px;
        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $main-color;
            display: block;
            position: absolute;
            top: 114px;
        }
    }
    &-blue {
        background-color: $color-blue;
        text-align: center;
        &__title {
            position: absolute;
            font-size: 37.55px;
            font-family: 'Gotham';
            color: $main-color;
            text-transform: uppercase;
            margin: 67px auto 0 auto;
            left: 0;
            right: 0;
        }
        &__img {
            opacity: 0.7;
        }
        &-small {
            background-color: $color-blue;
            text-align: start;
            padding-bottom: 153px;
        }
    }
    &-news {
        padding-top: 0;
        padding-bottom: 0;
    }
    &-blog {
        padding-top: 100px;
        padding-bottom: 107px;
        text-align: center;
    }
    &-features {
        background-image: url(../img/BG_features.png);
        padding-bottom: 94px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    &__logo {
        display: block;
        width: 79px;
        height: 75px;
        background-image: url(../img/svg/Logo.svg);
        margin: 21px 0px;
    }
    &-list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-family: 'MyriadPro';
        font-size: 20px;
        align-items: center;
        color: $light-color;
        margin-top: 15px;
        margin-left: 194px;
        flex-basis: 62.5%;
        line-height: 93px;
        &__item {
            margin-left: 22px;
            // padding-bottom: 5px;
            border-bottom: 5px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 5px solid $color-blue;
            }
        }
        &__item.active {
            border-bottom: 5px solid $color-blue;
        }
        &__link {
            color: $light-color;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }
    &__social {
        display: flex;
        list-style-type: none;
        margin-top: 13px;
        &>li {
            margin-left: 27px;
            &>a{
                color: $main-color;
            }
        }
    }
}

.block-text {
    display: flex;
    justify-content: center;
    &__title {
        font-family: 'Gotham Bold';
        text-transform: uppercase;
        font-size: 153.54px;
        letter-spacing: -7.2px;
        color: $main-color;
        margin-top: 237px;
        span {
            display: block;
            font-family: 'Gotham';
            text-align: center;
            font-size: 24.79px;
            letter-spacing: 17px;
            color: $color-blue;
        }
    }
}

.block-about {
    display: flex;
    justify-content: space-around;
    margin-top: 67px;
    &__btn {
        width: 133px;
        height: 133px;
        border: none;
        background-color: $color-blue-light;
        border-radius: 100%;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        margin-bottom: 19px;
        &:focus {
            outline: none;
        }

    }
    &-item {
        text-align: center;
        color: $main-color;
        h4 {
            text-transform: uppercase;
            font-family: 'Gotham';
            font-size: 18px;
            margin-bottom: 24px;
        }
        p {
            font-family: 'Gotham Book';
            font-size: 15px;
            letter-spacing: 0.4px;
            line-height: 24px;
        }
    }
}
.block-news {
    display: grid;
    grid-template-areas: "a a b b" "c c d d";
    &-item {
        background-repeat: no-repeat;
        background-size: cover;
        &-info1 {
            background-color: $dark-color;
            grid-area: a;
            height: 448px;
        }
        &-img1 {
            display: block;
            height: 448px;
            background-image: url(../img/img_news1.png);
            grid-area: b;
        }
        &-img2 {
            display: block;
            height: 448px;
            background-image: url(../img/img_news2.png);
            grid-area: c;
        }
        &-info2 {
            background-color: $light-color;
            grid-area: d;
            height: 448px;
        }
    }
}
.block-blog {
    display: flex;
    justify-content: space-between;
    margin-top: 134px;
    h4 {
        font-family: 'Gotham';
        font-size: 18px;
        color: $color-blue;
        text-transform: uppercase;
        margin-top: 37px;
    }
    &__desc {
        font-size: 15px;
        font-family: 'Gotham Book';
        margin-top: 16px;
        line-height: 1.6;
        max-width: 267px;
    }
    &-img {
        width: 100%;
        height: 290px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }
}
.block-quick {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    &-item {
        display: flex;
        max-width: 555px;
        &__img {
            display: block;
            margin-top: 8px;
        }
        p {
            flex-basis: 82%;
            font-family: 'Gotham Book';
            font-size: 15px;
            color: #ffffff;
            line-height: 1.6;
            margin-left: 34px;
        }
    }
}
.block-features {
    display: flex;
    justify-content: space-around;
    &-text {
        margin-top: 123px;
        margin-left: 9px;
        h4 {
            font-family: 'Gotham';
            font-size: 25px;
            text-transform: uppercase;
            color: $light-color;
            margin-bottom: 33px;
        }
        &-btn {
            display: flex;
            flex-direction: column;
        }
    }
    
}